
/* 04. about */ 
.about-img img {
	width: 100%;
}
.abo-link a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    border-bottom: 2px solid #cfcfcf;
    transition: .3s;
    &:hover{color:$red;border-color:$red;}
}
.about-video-icon {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateY(-50%);
	& a{
	height: 60px;
	width: 60px;
	border:3px solid $white;
	display: inline-block;
	border-radius: 50%;
	line-height: 60px;
	text-align: center;
	font-size: 14px;
	transition: .3s;
	color: $white;
    position: relative;
    &:hover{background: $red;border-color:$red;}
	}
}
.about-us-img > img{width: 100%;}
.about-us-2-img {
	position: absolute;
	bottom: -53px;
	left: -50px;
	border: 16px solid #fff;
	box-shadow: 0px 16px 32px 0px rgba(197, 197, 197, 0.52);
	border-radius: 10px;
}
.about-us-wrapper {
	margin-top: 40px;
	margin-left: 60px;
	margin-right: 70px;
}
.about-us-wrapper .coral-section {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 29px;
}
.about-us-wrapper .coral-section p{
	font-size: 18px;
	color:$blue;
	margin-top: 25px;
}
.about-01-img img{width: 100%;}
.ab-video-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    & a{
    font-size: 14px;
	color: $black;
	height: 80px;
	display: inline-block;
	width: 80px;
	line-height: 80px;
	text-align: center;
	border-radius: 50%;
    transition: .3s;
	position: relative;
	background: $theme-color;
    &::before{
        content: '';
        display: inline-block;
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        border-radius: inherit;
        border: 1px solid $white;
        -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
        animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
        transition: .3s;
    }
    }
}
.ab-border{
	border: 1px solid #efefef;
	position: relative;
	&::before{
		background: $theme-color;
		position: absolute;
		height: 4px;
		width:60px;
		content: "";
		left: 0;
		top:-2px;
	}
}
// about-quote
.about-border-1{
	border-bottom: 1px solid #f1f1f1;
}
.about-quote-wrqpper {
	padding: 71px 35px 67px;
	-webkit-box-shadow: 0px 16px 32px 0px rgba(223, 223, 223, 0.52);
	box-shadow: 0px 16px 32px 0px rgba(223, 223, 223, 0.52);
	border-bottom: 7px solid $theme-color;
	margin-top: 50px;
	margin-right: 70px;
	margin-left: -74px;
	background: $white;
}
.about-quote-text{
	& p{
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 20px;
	}
	& span{
		font-size: 18px;
		font-weight: 500;
		color:$black;
		position: relative;
		padding-left: 70px;
		&::before{
			position: absolute;
			content: "";
			background: $theme-color;
			width:40px;
			height: 3px;
			left: 0;
			top:10px;
		}
	}
}
.bg {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 16px 32px 0px rgba(223, 223, 223, 0.52);
	position: absolute;
	left: 1102px;
	top: 1063px;
	width: 373px;
	height: 425px;
	z-index: 210;
  }
  