.cta-area {
	background-size: cover;
	background-position: center center;
}
.cta-text h1 {
	font-size: 55px;
	color: #ffffff;
	margin-bottom: 20px;
	margin-top: 11px;
}
.cta-text span {
	color: #bdbdbd;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}
.cta-text p {
	color: #ffffff;
  padding-right: 207px;
  margin: 0;
}