.faq-area {
	background-position: center center;
	background-repeat: no-repeat;
}
.faq-box .btn-link {
	display: block;
	font-size: 18px;
	border: 0;
	text-decoration: none;
	line-height: 1;
	font-weight: 500;
	color: #bdbdbd;
	padding: 26px 30px;
	background: #182938;
}
.faq-box .btn-link {
	background: $red;
	color:$white;
}
.faq-box .btn-link.collapsed {
	background: #182938;
}
.faq-box .card-header {
	padding: 0;
	border-bottom: 0;
	background: none;
	border-radius: 0;
}
.faq-box .card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0;
	border-radius: 0;
	background: none;
	margin-bottom: 16px;
}
.faq-box .card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0 0 0 0;
	border-bottom: 0;
	padding-bottom: 16px;
	border-top: 0;
	padding-top: 21px;
	margin-top: 0;
	padding-left: 30px;
	padding-right: 30px;
	background: #182938;
}
.faq-box .card-body p {
	margin: 0;
	line-height: 28px;
	margin-right: 74px;
	color: #cdcccc;
}
.faq-box .btn-link.collapsed::before {
	content: "\f070";
	color: #bdbdbd;
}
.faq-box .btn-link::before {
	content: "\f06e";
	position: absolute;
	right: 30px;
	top: 25px;
	font-size: 20px;
	font-family: "Font Awesome 5 Pro";
	color: #fff;
}
.faq-img img {
	width: 100%;
}

.faq-theme .btn-link {
	background: $theme-color;
	color: $black;
}
.faq-theme .btn-link::before {
	color: $black;
}
.faq-theme .card-body {
	background: $white;
}
.faq-theme .card-body p {
	color: #666;
}
.faq-theme .btn-link.collapsed {
	background: #eeeeee;
}