.footer-widget-area {
	background-size: cover;
	background-position: center center;
}
.footer-bottom-wrapper {
	overflow: hidden;
}
.footer-icon a {
        color: $body-text-color;
        font-size: 14px;
        height: 50px;
        width: 50px;
        line-height: 50px;
        display: inline-block;
        text-align: center;
        transition: .3s;
        background: #1f1f1f;
        margin-right: 5px;
        &:hover{
            color:$black;
            background: $theme-color;
        }
        &:last-child{margin-right: 0;}
    }
   .footer-top-link{
       & ul{
            & li{
                display: inline-block;
                padding: 0 13px;
                & a{
                    font-size: 14px;
                    color:$body-text-color;
                    font-weight: 400;
                    text-transform: capitalize;
                    transition: .3s;
                    &:hover{
                        color:$theme-color;
                        border-bottom: 1px solid $theme-color;
                    }
                }
            }
       }
   }
   .footer-title {
	font-size: 24px;
    color: $white;
    margin-bottom: 38px;
}
.footer-text{
    & p{
        color:#b8b8b8;    
        margin-bottom: 26px;
    }
    & a{
        color:$theme-color;
        border-bottom:2px solid $theme-color;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: italic;
    }
}
.footer-link{
    & ul{
        & li{
            padding-bottom: 10px;
            &:last-child{padding-bottom: 0;}
            & a{
                color:#b8b8b8;
                font-size: 14px;
                font-weight: 400;
                transition: .3s;
                &:hover{color:$theme-color;border-bottom: 1px solid $theme-color;}
            }
        }
    }
}
.footer-news li {
	overflow: hidden;
	padding-bottom: 15px;
}
.footer-news-img {
	margin-right: 22px;
}
.footer-news-text{
    padding-top: 4px;
    & h5{
        font-size: 16px;
        line-height: 1.4;
        & > a{
            color:#e1e1e1;
            transition: .3s;
            &:hover{color:$theme-color;}
        }
    }
    & span{
        color:$body-text-color;
        font-size: 14px;
        font-weight: 400;
        & i{
            font-size: 16px;
            margin-right:5px;
        }
    }
}
.footer-info{
    & li{
        padding-bottom: 14px;
        &:last-child{padding-bottom: 0;}
        & span{
            font-size: 14px;
            font-weight: 400;
            color:#b8b8b8;
            & i{
                color:$theme-color;
                margin-right: 6px;
            }
        }
    }
}
.footer-bottom-bg{padding:25px;}
.copyright p {
    margin-bottom: 0; }
    .copyright p a {
      color: $theme-color; 
      text-transform: uppercase;
    }
    .footer-2-text{margin-top: 30px;}
    .footer-2-text p {
        color: #b8b8b8;
        margin-bottom: 15px;
    }
  .footer-2-text a {
        color: #d7d7d7;
        border-bottom: 2px solid #e0e0e0;
        transition: .3s;
        &:hover{color:$theme-color;border-color:$theme-color;}
    }
    .footer-2-bottom{border-top:2px solid #343434;}
    .copyright-1 p{
        color:#d1d1d1;
        line-height: 1;
    }
    .footer-bottom-link{
        & li{
            display: inline-block;
            padding-right: 23px;
            &:last-child{padding-right: 0;}
            & a{
                font-size: 14px;
                color:#d1d1d1;
                transition: .3s;
                &:hover{
                    color:$theme-color;
                    border-bottom:1px solid $theme-color;
                }
            }
        }
    }
    .footer-2-icon{
        margin-left: 50px;
        & a {
            color:#989898;
            font-size: 14px;
            display: inline-block;
            text-align: center;
            margin-right: 15px;
            transition: .3s;
            &:last-child{margin-right: 0;}
            &:hover{color:$theme-color;}
        }
    }
    .line {
        position: absolute;
        height: 100%;
        width: 1px;
        background: #373737;
        left: 19.3%;
    }
    .line-2 {
        left: 46.8%;
    }
    .line-3 {
        left: 80.9%
    }
    // footer-red
    .footer-red .footer-2-text a:hover {
        color: $red;
        border-color: $red;
    }
    .footer-red .footer-link ul li a:hover {
        color: $red;
        border-bottom: 1px solid $red;
    }
    .subscribes-form form{position: relative;}
    .subscribes-form form input {
        background: none;
        border-radius: 0;
        height: 50px;
        padding: 0 30px;
        width: 100%;
        color: $body-text-color;
        font-size: 14px;
        font-weight: 400;
        border: none;
        border-radius: 5px;
        background: #fff;
        position: relative;
    }
      .subscribes-form form input::placeholder {
        color: $body-text-color;
        font-size: 14px;
        font-weight: 400; }
      
      .subscribes-form form input::-moz-placeholder {
        color: $body-text-color;
        font-size: 14px;
        font-weight: 400; }
      
        .subscribes-form form button {
            position: absolute;
            right: 30px;
            top: 0;
            background: none;
            border: none;
            top: 14px;
            padding: 0;
            cursor: pointer;
            & i{
             color: $red;
             font-size: 18px;
            }
            
        }
        .footer-3-icon{
            margin-top: 34px;
            & span{
                font-size: 14px;
                font-weight: 700;
                float: left;
                margin-right: 25px;
                color:$white;
                margin-top:2px
            }
            & a {
                color:$body-text-color;
                font-size: 14px;
                display: inline-block;
                text-align: center;
                margin-right: 15px;
                transition: .3s;
                &:last-child{margin-right: 0;}
                &:hover{color:$red;}
            }
        }
//   footer-bottom-border
.footer-bottom-border {
	border-top: 1px solid #394058;
}
.footer-bottom-border .copyright p a {
	color: $red;
}
// footer-coral
.footer-coral .footer-2-text a:hover {
    color: $coral;
    border-color: $coral;
}
.footer-coral .footer-link ul li a:hover {
	color: $coral;
	border-bottom: 1px solid $coral;
}
.footer-coral .subscribes-form form button i {
	color: $coral;
}
.footer-coral .footer-3-icon a:hover {
	color: $coral;
}
.footer-coral .footer-bottom-border .copyright p a {
	color: $coral;
}