.single-history{
    background: $theme-color;
    padding: 40px;
    margin-right: 40px;
}
.history-text{
    & span{
        font-size: 14px;
        font-weight: 700;
        color:$black;
        text-transform: uppercase;
    }
    & h1{
        font-size: 40px;
        margin-bottom: 0;
        margin-top: 18px;
    }
}
.history-content{
    margin-bottom: 14px;
    & h4{
        font-size: 24px;
        margin-bottom: 20px;
    }
    & p{
        margin-bottom: 0;
        margin-bottom: 25px;
    }
}
.history-content a {
	color: $black;
	font-size: 14px;
	transition: .3s;
	position: relative;
	font-weight: 700;
    text-transform: uppercase;
    & i{font-size: 14px;margin-left:4px;color:#888888; transition: .3s;}
}
.history-content a:hover i{color:$theme-color;}
.history-content a:hover{color: $theme-color;}
.history-content a::after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: -1px;
	left:0;
	background: #c3c3c3;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.history-content a::before {
	content: '';
	width: 0;
	height: 1px;
	position: absolute;
	bottom: -1px;
	left: 100%;
	background: $theme-color;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 99;
}
.history-content a:hover::before{
	width: 100%;
	left: 0;
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}
// history-2
.history-icon-01{
	position: relative;
	margin-bottom: 49px;
	& i{
		height: 80px;
		width: 80px;
		color:$black;
		background: $theme-color;
		font-size: 40px;
		line-height: 80px;
		text-align: center;
	}
	&::before{
		position: absolute;
		content: "\f00c";
		font-family: "Font Awesome 5 Pro";
		display: inline-block;
		color:$black;
		font-size: 14px;
		bottom: -12px;
		height: 30px;
		width: 30px;
		line-height: 30px;
		text-align: center;
		background:#ffab00;
		left: 61px;
		box-shadow: 0px 16px 32px 0pxrgba(255, 177, 18, 0.65);
		border-radius: 5px;
		} 
}
.history-icon-text{
	& h3{
		font-size: 24px;
		margin-bottom: 11px;
	}
	& p{
		margin-bottom: 0;
		margin-right: 15px;
	}
}