
.b-work-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 25px;
    transition:.3s ;
    -webkit-transition:.3s ;
    -moz-transition:.3s ;
    -ms-transition:.3s ;
    -o-transition:.3s ;
    opacity: 0;
    visibility: hidden;
  }
  .b-work:hover .b-work-content{
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  .b-work-img{
    position: relative;
  }
  .b-work-img img {
    width: 100%;
  }
  .b-work-content h2 {
      font-size: 21px;
  }
  .b-work-img::before {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      content: "";
      background: #222;
      opacity: 0;
      transition: .3s;
  }
  .b-work:hover .b-work-img::before {
    opacity: .5;
  }
  .b-work-inner {
      background: #fff;
      padding: 30px;
      display: flex;
      justify-content: space-between;
      position: relative;
  }
  .b-work-inner::before {
      position: absolute;
      left: 0;
      top: 29px;
      content: "";
      background: #febc35;
      height: 50px;
      width: 5px;
  }
  .b-work-content h2 {
    margin: 0;
  }
  .b-work-large .b-work-content h2{font-size: 24px;}
  .b-work-large .b-work-content {
      padding: 30px 50px;
  }
  .b-work-large .b-work-inner {
      padding: 30px;
  }
  .b-work-content h2 a:hover{
    color:#febc35 ;
  }
  .b-work-link a {
      background: #febc35;
      height: 50px;
      width: 50px;
      display: inline-block;
      color: #222;
      text-align: center;
      line-height: 52px;
      border-radius: 50px;
      font-size: 19px;
  }
  .b-work-link a:hover{
    background: #222;
    color: $white;
  }
 .b-work-content-3 .b-work-link a {
      background: $red;
      color:$white;
  }
  .b-work-content-2 .b-work-link a:hover{
    background: $black;
    color: $white;
  }
  // b-work-content-3
  .b-work-content-3 .b-work-link a {
    background: $red;
    color:$white;
}
  .b-work-content-coral .b-work-link a {
    background: $coral;
    color:$white;
}
  /* work 2 */
.b-work-content-2 {
	position: absolute;
	bottom: 0;
	padding: 30px;
  padding-bottom: 52px;
  transition:.3s ;
  -webkit-transition:.3s ;
  -moz-transition:.3s ;
  -ms-transition:.3s ;
  -o-transition:.3s ;
  opacity: 0;
  visibility: hidden;
}
.b-work:hover .b-work-content-2{
  opacity: 1;
  visibility: visible;
}
.b-work-content-2 h2 {
	font-size: 22px;
	margin-bottom: 15px;
}
.b-work-content-2 h2 a:hover{
  color: $theme-color;
}
.b-work-content-3 h2 a:hover{
  color: $red;
}
.b-work-content-coral h2 a:hover{
  color: $coral;
}
.b-work-content-2 p {
	margin: 0;
}
.inner-work-2 {
	background: #fff;
	padding: 25px;
	padding-bottom: 0;
	padding-top: 30px;
}
.inner-work-2  .b-work-link {
	position: relative;
	bottom: -25px;
}

// work-tab
.work-tab-area{
	background-size: cover;
	background-position: center center;
}
.work-tab{
  border-bottom: 2px solid #e7e7e7;
  transition: .3s;
}
.work-tab li {
	margin: 0;
	position: relative;
	padding: 0;
	float: left;
	width: 20%;
}
.work-tab li a {
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	padding: 53px 30px;
	margin: 0;
  text-align: center;
  border-right: 2px solid #e7e7e7;
}
.work-tab li a:hover{background: $red;border-color:$red;}
.work-tab li a.active{background: $red;border-color:$red;}
.work-tab li:last-child a{border-right: none;}
.work-tab li a::before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: #de2021 transparent transparent transparent;
	left: 50%;
	bottom: -20px;
  transform: translateX(-50%);
  opacity: 0;
  transition: .3s;
}
.work-tab li a.active::before{opacity: 1;}
.work-tab li a:hover::before{opacity: 1;}
.work-tap-wrapper {
	overflow: hidden;
	display: inline-block;
}
.work-tap-icon{
	float: left;
	margin-right: 12px;
	& i{
		font-size: 30px;
    color: $body-text-color;
    transition: .3s;
    line-height: 1;
    }
}
.work-tab li a:hover .work-tap-icon i{color:$white;}
.work-tab li a.active .work-tap-icon i{color:$white;}
.work-tap-text{
  overflow: hidden;
  float: left;
   & h4{
	font-size: 20px;
	color:$body-text-color;
	margin-bottom: 0;
  transition: .3s; 
  margin-top: 3px;
  }
}
.work-tab li a.active .work-tap-text h4{color:$white;}
.work-tab li a:hover .work-tap-text h4{color:$white;}

.work-theme-color .work-tab li a.active,.work-theme-color .work-tab li a:hover {
	background: $theme-color;
	border-color: $theme-color;
}
.work-theme-color .work-tab li a::before {
	border-color: $theme-color transparent transparent transparent;
}